Flask==3.0.3
gunicorn==22.0.0
resemble-perth==0.1.0  # Perth library
librosa==0.10.1        # For loading audio
soundfile==0.12.1      # For saving audio
torch==2.4.1           # For neural components
torchaudio==2.4.1      # Audio processing
